* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Judson&family=Kreon&display=swap");

.titleHeader {
  font-family: "Kreon", sans-serif;
  margin: 0;
}

.subtitle {
  font-family: "Judson", sans-serif;
}
.subUno::before {
  content: "<";
}

.subUno::after {
  content: ">";
}

p {
  font-family: "Hind Siliguri", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 15vh;
  position: fixed;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 30vw;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.divSub {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.749);
}

.subUno {
  background: linear-gradient(to right, #cdb2c2, #ff0099);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  text-align: center;
}

.hover {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
}

.hover:hover {
  background-color: rgb(33, 126, 145);
  padding: 15px;
}

.hover:active {
  background-color: blueviolet;
  color: rgb(107, 7, 7);
}

.focus {
  padding: 5px 10px;
  border-radius: 1rem;
  outline: none;
  border: none;
}
.focus:focus {
  background-color: rgb(196, 173, 145);
  color: black;
}

.subtitleDos {
  /* funciona para texto solo */
  border: 2px solid #8c54fb;
  background: linear-gradient(to right, #f0a7b3, #66169f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 40px;
}

main {
  padding-top: 20vh;
}
img {
  width: 30%;
  height: 30%;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

.formulario {
  background-color: rgb(232, 206, 172);
  padding: 5vh;
}
